<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="funciones.js"></script>
</head>
<body>
    <table border="1">
        <thead></thead>
        <tbody>
            <tr>
                <td class="clickeable" onclick="choosePosition(0,0)">1</td>
                <td class="clickeable" onclick="choosePosition(0,1)">1</td>
                <td class="clickeable" onclick="choosePosition(0,2)">1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</body>
</html>